<div class="modal" tabindex="-1" role="dialog" id="date-d-appel-modal" aria-modal="true"> 
<div class="modal-dialog modal-md" style="max-width: 400px !important;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Date Dernier Appel</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
        <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <div class="alert alert-info">Veuillez selectionner un ligne Pour Continuer Cette opération !!</div> -->
        <form id="date_appele_save">
          <label for="">Date</label>
          <input class="form-control" type="date" name="dateappelle" id="dateappelle">
          <label for="">Premier RDV</label>
          <input class="form-control" type="date" name="rdv1" id="rdv1">
          <label for="">Deusieme RDV</label>
          <input class="form-control" type="date" name="rdv2" id="rdv2">
          <button type="submit" class="btn btn-success mt-2"><i class="fas fa-check-circle"></i> Enregistrer</button>        
        </form>
      </div>
    </div>
  </div>
</div>