<div class="modal" tabindex="-1" role="dialog" id="importer-modal" aria-modal="true"> 
<div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Import les étudiants</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
        <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <div class="alert alert-info">Please check your browser console</div> -->
        <form id="save_import" method="post">
          <div class="form-group">
            <label>Fichier xlsx</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fas fa-file-excel"></i>
                </div>
              </div>
              <input type="file" class="form-control myfile" name="file" />
            </div>
          </div>
          <button class="btn btn-success" type="submit" id="fire-modal-1-submit"><i class="fas fa-check-circle"></i> Enregistre</button>
        </form>
      </div>
    </div>
  </div>
</div>