<div class="modal" tabindex="-1" role="dialog" id="suivi-modal" aria-modal="true"> 
<div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Suivi Modal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
        <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-info">Veuillez selectionner un ligne Pour Continuer Cette opération !!</div>
      </div>
    </div>
  </div>
</div>