<div class="modal" role="dialog" id="modifier_modal" aria-modal="true"> 
<div class="modal-dialog modal-md" style="max-width: 200px !important;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Données Annee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
        <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="udpate">
          <label for="designation">Désignation:</label>
          <input type="text" class="form-control" name="designation" id="designation" />
          <button type="submit" class="btn btn-success mt-4"><i class="fas fa-check-circle"></i> Enregister</button>
        </form>
      </div>
    </div>
  </div>
</div>