<div class="modal" role="dialog" id="ajout_modal" aria-modal="true"> 
<div class="modal-dialog modal-md" style="max-width: 200px !important;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Données Promotion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
        <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <div class="alert alert-info">Veuillez selectionner un ligne Pour Continuer Cette opération !!</div> -->
        <form id="save">
            <label for="nom">Nom : (*)</label>
            <input type="text" class="form-control" name="nom" id="nom" placeholder="Nom d'enseignant"/>
        
            <label for="prenom">Prénom : (*)</label>
            <input type="text" class="form-control" name="prenom" id="prenom" placeholder="Prénom  d'enseignant" />

            <label for="grade">Grade : (*)</label>
            <select class="form-control" name="grade" id="grade">
                <option value="">Choix Grade </option>
                {% for grade in grades %}
                    <option value="{{ grade.id }}">{{ grade.designation }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-success mt-4"><i class="fas fa-check-circle"></i> Enregister</button>
            {# <button type="button" id="save_document" class="btn btn-success mt-2"><i class="fas fa-check-circle"></i> Enregistrer</button> #}
        </form>
      </div>
    </div>
  </div>
</div>