<table style="width: 100%;" align="center" cellspacing="0" >
    <tr>
        <td style="width: 30%">
            <img style=" margin-right: auto;margin-left:auto; float: left ; width: 25%; height: 10%" src="./assets/img/logo/Logo UIASS_bkack2.png" alt="Logo">
        </td>
        <td style="width: 60%;text-align:center;font-size:13px;">
            UNIVERSITE INTERNATIONALE ABULCASIS DES SCIENCES DE LA SANTE<br/>
            <span style="color:red;margin-top: 5px;padding-bottom: 5px;">ETAT DES CREANCES DES PAYANTS</span><br/>
            <span style="margin-top: 10px;">ANNEE UNIVERSITAIRE 2022/2023 </span><br/>
            <span style="margin-top: 10px;font-size:10px;">{{ "now"|date("d/m/Y") }}</span>
        </td>
        <td style="width: 40%;"></td>
    </tr>
</table>