<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<table style="width:100%">
    <tr style="width:100%">
        <td style="width:25%;text-align:center"> <img src="./assets/img/logo/Logo_UIASS_bkack2.png" style="width:100px;margin: 0 auto;" > </td>
        <td style="width:70%;font-family: 'Source Sans Pro', sans-serif;"> <b>UNIVERSITE INTERNATIONALE ABULCASIS DES SCIENCES DE LA SANTE</b> </td>
    </tr>
</table>