<div class="modal" role="dialog" id="inscription_modal" aria-modal="true"> 
<div class="modal-dialog modal-md" style="max-width: 600px !important;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Données Inscription</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
        <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <div class="alert alert-info">Veuillez selectionner un ligne Pour Continuer Cette opération !!</div> -->
        <form id="inscription_save">
        <label for="annee_inscription">Annee:</label>
        <select class="form-control" name="annee_inscription" id="annee_inscription">
            
        </select>
        <label for="annee_inscription">Promotion:</label>
        <select class="form-control" name="promotion_inscription" id="promotion_inscription">
            
        </select>
        <button type="submit" class="btn btn-success mt-4"><i class="fas fa-check-circle"></i> Enregister</button>
        {# <button type="button" id="save_document" class="btn btn-success mt-2"><i class="fas fa-check-circle"></i> Enregistrer</button> #}
        </from>
      </div>
    </div>
  </div>
</div>