<div class="modal" role="dialog" id="updateform_planif-modal" aria-modal="true"> 
<div class="modal-dialog modal-md modal-updateform_planif" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modifier Une Planification</h5>
        </hr>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
        <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" class="form_update_planning">
            <div class="update_planning">
              
            </div>
            <div class="float-left">
              <button type="button" class="btn btn-danger" id="planning_delete"> <i class="fas fa-trash"></i> </button>
              <button type="button" class="btn btn-warning" id="fiche_sequence"><i class="fas fa-print"></i> FICHE SEQUENCE</button>
              <button type="button" class="btn btn-success" id="seance_absence"><i class="fas fa-file-pdf" ></i> FICHE D'ABSENCE</button>
            </div>
          <button type="submit" class="btn btn-success btn_update_planning float-right"><i class="fas fa-save"></i> Enregistrer</button>
        </form>
      </div>
    </div>
  </div>
</div>