<div
  class="modal"
  role="dialog"
  id="note_modal"
  aria-modal="true"
>
  <div class="modal-dialog modal-md" role="document" style="max-width: 1100px !important">
    <div class="modal-content" >
      <div class="modal-header">
      <h5 class="modal-title">Données d'Inscription</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer" style="
      padding: 10px;
  ">
          <button class="btn btn-primary" id="save_rachat"><i class="fas fa-check"></i> Enregistre</button>
      </div>

    </div>
  </div>
</div>