<div style="position: relative;left: 5%;width:100%;border-top:1px solid gray;padding:5px;text-align: center;font-size: 11px;line-height:14px">
  <p>
    B.P. 6533, Avenue Allal El Fassi,Madinat Al Irfane, Rabat 10 000. Maroc -
    Web : www.uiass.ma - Contact : contact@uiass.ma
    <br />Tel : +212 5 37 68 70 20 / 21 / 22 - Fax : +212 5 37 77 01 06 &nbsp;
    &nbsp; IF: 03333477 &nbsp;&nbsp; ICE: 001713416000075
  </p>
</div>
