 {# <h4>Tableau des épreuves</h4> #}
    <table id="list_epreuve_rattrapage" class="table table-striped" style="width:100%">
       <thead>
            <tr>
                <th>#</th>
                <th>id</th>
                <th>Epreuve</th>
                <th>Date</th>
                <th>Nature</th>
                <th>Module</th>
                <th>Element</th>
                <th>ETAB</th>
                <th>FOR</th>
                <th width="100px">PRM</th>
                <th>Enseignant</th>
                <th>Statut</th>
                <th>Créateur</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
        <tfoot>
            <tr>
                <th>#</th>
                <th>id</th>
                <th>Epreuve</th>
                <th>Date</th>
                <th>Nature</th>
                <th>Module</th>
                <th>Element</th>
                <th>ETAB</th>
                <th>FOR</th>
                <th>PRM</th>
                <th>Enseignant</th>
                <th>Statut</th>
                <th>Créateur</th>
            </tr>
        </tfoot>
    </table>