<table style="width: 100%;" align="center" cellspacing="0">
        <thead>
            <tr>
                <th style="width: 30%; text-align: left;"></th>
                <th style="width: 30%; text-align: left;"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width: 35%; text-align: left;">
                    <div style="    line-height: 20px;">
                        <span style="font-size: 11px ;text-transform: uppercase ; font-weight: bold;">Universite internationale Abulcasis des sciences de la sante</span>

                        <span style="font-size: 9px ;">Av. Allal El Fassi Madinat Al Irfane Hay Riad 10000 Rabat</span>
<!--                        <span style="font-size: 9px ;">Tel :<?php// echo $dossier['tel']; ?></span><br/>
                        <span style="font-size: 9px ;">Fax :<?php //echo $dossier['tel']; ?></span><br/>-->
                    </div>
                </td>
               <td style="width: 65%; text-align: right;">
                    
                      <img 
                        src="./assets/img/logo/logo_uaiss_bkack.png" 
                        style=" width: 150px; margin: 0 auto;"
                        >  
                
                </td>
            </tr>
        </tbody>
    </table>