<div class="modal" id="etudiant_det_modal" aria-modal="true" style="top:250px;"> 
<div class="modal-dialog modal-md">
    <div class="modal-content">
            <div class="modal-header">
                        <h5 class="modal-title">Données Etudiants</h5>
                        </hr>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
                        <span aria-hidden="true">×</span>
                        </button>
            </div>
            <div class="modal-body" id ="modal_etud_det">
               
            </div>

<div class="modal-footer">
                        <button class="btn btn-success" id="save_etud_det"><i class="fas fa-check-circle save_etud_det"></i> Enregistre</button>
                    </div>
    </div>
  </div>
</div>
