 {# <h4>Tableau des épreuves</h4> #}
    <table id="datatables_candidat_admis" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th width="1">#</th>
                <th>id</th>
                <th>C.ADM</th>
                <th>C.PRE</th>
                <th>NOM</th>
                <th>PRENOM</th>
                <th>ETAB</th>
                <th>FOR</th>
                <th>CATEGORIE</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
        <tfoot>
            <tr>
                <th width="1">#</th>
                <th>id</th>
                <th>C.ADM</th>
                <th>C.PRE</th>
                <th>NOM</th>
                <th>PRENOM</th>
                <th>ETAB</th>
                <th>FOR</th>
                <th>CATEGORIE</th>
            </tr>
        </tfoot>
    </table>