 {# <h4>Tableau des épreuves</h4> #}
    <table id="datatables_candidat_admissibles" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th width="1">#</th>
                <th>id</th>
                <th>Code</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Etab</th>
                <th>For</th>
                <th>Categorie</th>
                <th>M.Bac</th>
                <th>Rang P</th>
                <th>Rang S</th>
                <th>Avis</th>
                <th>St.Dlb</th>
                <th>Pré.Adm</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
        <tfoot>
            <tr>
                <th width="1">#</th>
                <th>id</th>
                <th>Code</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Etab</th>
                <th>For</th>
                <th>Categorie</th>
                <th>M.Bac</th>
                <th>Rang P</th>
                <th>Rang S</th>
                <th>Avis</th>
                <th>St.Dlb</th>
                <th>Pré.Adm</th>
            </tr>
        </tfoot>
    </table>