<style>

</style>
<table style="width: 100%;" cellspacing="0">
    <tbody>

        <tr>
            <td style="width:45%; text-align:center"><img style="width:80px;margin: 0 auto;" src="{{ asset('assets/img/logo/Logo_UIASS_bkack2.png') }}" alt="Logo"></td>
            <td style="width:1%;"></td>
            <td style="width:80%;"><h1>Situation Numerique des absences</h1></td>
        </tr>
        </br>
        </br>
       
    </tbody>

</table>
<br/>

<div class="row">
  <div class="column left" >
   <table style="width: 100%;" cellspacing="0">
    <tbody>

        <tr>
            <td >Journalier</td>
           
        </tr>
        <tr>
            <td >2022-03-03</td>
           
        </tr>
         </tbody>

</table>
</div>
</div>
       