<div
  class="modal"
  role="dialog"
  id="statut_modal"
  aria-modal="true"
>
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title">Traitement des statuts</h5>
        {# <h5 class="modal-title">Epreuve: <span class="epreuve_title">15896</span></h5> #}
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="actions text-center">
          <button id="statut_avant_rachat" class="btn btn-primary"><i class="fas fa-sync"></i> Statut avant rachat</button>
          <button id="statut_apres_rachat" class="btn btn-warning"><i class="fas fa-sync"></i> Statut apres rachat</button>
          <button id="statut_categorie" class="btn btn-danger"><i class="fas fa-sync"></i> Statut categorie</button>
         
        </div>
      </div>
    </div>
  </div>
</div>