<div class="modal" role="dialog" id="document_preins_modal" aria-modal="true"> 
<div class="modal-dialog modal-md" style="max-width: 600px !important;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">- Formulaire pour Ajouter les documents pour les étudiants : Veuillez remplir tous les champs obligatoires (*) .</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
        <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <div class="alert alert-info">Veuillez selectionner un ligne Pour Continuer Cette opération !!</div> -->
    
        <div class="ms-container" id="ms-multiselect">
            <div class="ms-selectable">
                <ul class="ms-list" tabindex="-1">
                
                </ul>
            </div>
            <div class="ms-selection">
                <ul class="ms-list" tabindex="-1">
                       
                </ul>
            </div>
        </div>
         

        <button type="button" class="btn btn-primary mt-2" id="imprimer_docs"><i class="fas fa-copy"></i> Imprimer</button>
        {# <button type="button" id="save_document" class="btn btn-success mt-2"><i class="fas fa-check-circle"></i> Enregistrer</button> #}

      </div>
    </div>
  </div>
</div>